html, body{
    background-color
 :#171347;
}
#logo{
    width: 43%;
    margin-left: 24%;
    margin-top: 15%;
}
.button {
  background-color: #008aff;
  border: none;
  border-radius: 7px;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin-left: 31%;
  margin-top: 7%;
    
  }

  .button1 {
    background-color: #008aff;
    border: none;
    border-radius: 7px; 
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin-left: 53%;
    margin-top: -4%;
    
  }

  .link{
    text-decoration: none;
    color: #fff

  }